<!DOCTYPE html>
<html>
    <head>
  <title>Ruby on Rails Tutorial Sample App | <%= @title %></title>
    </head>
<body>
	<h1>CONTACT</h1>
  <p>
	<a href="http://railstutorial.org/">Ruby on Rails Tutorial</a>
  </p>
	<h1>Pagina dinamica</h1>	

	<p>muestro la variable @title, que en este caso es:  <%= @title %></p>

	<p>Find me in app/views/pages/contact.html.erb</p>
</body>