<!DOCTYPE html>
<html>
    <head>
      
      <title><%= title %></title>
    </head>
<body>
	<h1>Home</h1>

	<h1>Pagina Dinámica</h1>
    <p>muestro la variable @title, que en este caso es:  <%= @title %></p>
	<p>Find me in app/views/pages/home.html.erb</p>
</body>